* {
  margin: 0;
  padding: 0;
}

#wrapper #header {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  height: 150px;
  font-size: 25px;
  width: 100%;
  position: absolute;
}

#wrapper #header ul {
  display: flex;
  list-style: none;
}

#wrapper #header ul li {
  margin-right: 30px;
}

#wrapper #header ul li a {
  color: #3a3a3a;
  text-decoration: none;
  line-height: 150px;
}

#wrapper #header a i {
  color: #3f3f3f;
  text-decoration: none;
  line-height: 150px;
}

#wrapper #header a i:hover {
  color: #978f8f;
  transition: 0.6s ease;
}

#wrapper #header #menu a:hover {
  transition: 0.3s ease;
  z-index: 1;
  border-bottom: 1px solid #b8b8b8;
  padding: 6px 0;
}

#wrapper #header #logo img {
  height: 150px;
  width: 200px;
  padding-bottom: 25px;
}

#wrapper #header #menu {
  display: flex;
}

#wrapper #banner {
  position: relative;
}

#wrapper #banner .mySlides {
  display: none;
}

#wrapper #banner img {
  height: 900px;
}

#wrapper #banner .carousel-item {
  position: relative;
}

#wrapper #banner .carousel-item .banner-des {
  animation-duration: 0.5s;
  animation-delay: 0.7s;
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 900px;
  justify-content: center;
  padding-left: 200px;
}

#wrapper #banner .carousel-item .banner-des h1 {
  font-size: 50px;
  font-family: 'Great Vibes', cursive;
  margin-bottom: 20px;
}

#wrapper #banner .carousel-item .banner-des p {
  font-size: 50px;
  margin-bottom: 50px;
  font-family: 'Tangerine', cursive;
  width: 700px;
}

#wrapper #banner .carousel-item .banner-des a {
  display: block;
  padding: 10px;
  width: 180px;
  color: #3a3a3a;
  background-color: #f8efef;
  border: 1px solid #f8efef;
  border-radius: 20px;
  -webkit-box-shadow: 0 7px 4px #777;
  -moz-box-shadow: 0 7px 4px #777;
  box-shadow: 0 7px 4px #777;
  font-family: 'Sacramento', cursive;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

#wrapper #banner .carousel-item .banner-des a:hover {
  background: #434343;
  color: white;
  letter-spacing: 2px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.5s ease 0s;
  text-decoration: none;
}

#wrapper #content .content-title {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  padding-top: 30px;
}

#wrapper #content #passion-content {
  background: #eed6da;
  background: linear-gradient(0deg, #eed6da 0%, #f9f9f9 83%);
}

#wrapper #content #passion-content h3 {
  color: #b1ae8c;
  font-size: 25px;
}

#wrapper #content #passion-content h1 {
  color: #444444;
  font-size: 50px;
  font-family: 'Indie Flower', cursive;
}

#wrapper #content #passion-content p {
  color: #a1a1a1;
  font-family: 'Dosis', sans-serif;
}

#wrapper #content #passion-content button {
  padding: 7px;
  width: 150px;
  background-color: #ffffff;
  border: 1px solid black;
  -webkit-box-shadow: 0 3px 2px black;
  -moz-box-shadow: 0 3px 2px black;
  box-shadow: 0 3px 2px black;
  transition: all 1s ease;
}

#wrapper #content #passion-content button:hover {
  background: #434343;
  color: white;
}

#wrapper #content #passion-content #top-passion-content {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#wrapper #content #passion-content #bottom-passion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}

#wrapper #content #passion-content #bottom-passion-content #pic1 {
  padding-left: 10px;
}

#wrapper #content #passion-content #bottom-passion-content #pic1 img {
  width: 400px;
  height: 550px;
}

#wrapper #content #passion-content #bottom-passion-content #pic2 {
  padding-left: 10px;
}

#wrapper #content #passion-content #bottom-passion-content #pic2 img {
  width: 350px;
  height: 450px;
}

#wrapper #content #passion-content #bottom-passion-content #pic2 #des {
  display: block;
  padding-right: 10px;
  width: 350px !important;
}

#wrapper #content #passion-content #bottom-passion-content #pic2 #des h2 {
  font-family: 'Indie Flower', cursive;
}

#wrapper #content #passion-content #des {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
}

#wrapper #content #passion-content #des h1 {
  font-family: 'Indie Flower', cursive;
}

#wrapper #content #passion-content #des p {
  font-family: 'Dosis', sans-serif;
}

#wrapper #content #seller {
  padding-bottom: 30px;
}

#wrapper #content #seller #inner-seller {
  padding: 30px 0px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-column-gap: 30px;
}

#wrapper #content #seller #inner-seller .product-seller {
  width: 380px;
  height: 500px;
  text-align: center;
}

#wrapper #content #seller #inner-seller .product-seller .pic {
  position: relative;
  overflow: hidden;
}

#wrapper #content #seller #inner-seller .product-seller .pic img {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  transition: all .2s ease-in-out;
}

#wrapper #content #seller #inner-seller .product-seller .inner-pic {
  height: 380px;
  width: 380px;
  position: absolute;
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px 20px 20px 0px;
  transition: all 1s ease;
}

#wrapper #content #seller #inner-seller .product-seller .inner-pic a {
  display: block;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  color: #e4bdd2;
}

#wrapper #content #seller #inner-seller .product-seller .inner-pic a i {
  font-size: 20px;
}

#wrapper #content #seller #inner-seller .product-seller .inner-pic #cart {
  font-size: 18px;
}

#wrapper #content #seller #inner-seller .product-seller .views ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 10px;
}

#wrapper #content #seller #inner-seller .product-seller .views ul li {
  font-size: 15px;
  color: #e7cada;
  font-weight: bold;
}

#wrapper #content #seller #inner-seller .product-seller .name {
  font-size: 17px;
}

#wrapper #content #seller #inner-seller .product-seller .price {
  font-size: 25px;
  letter-spacing: 2px;
  color: #d88cb6;
}

#wrapper #content #seller #inner-seller .product-seller:hover .inner-pic {
  display: flex;
  transition-duration: 1.5s ease;
}

#wrapper #content #seller #inner-seller .product-seller:hover .pic img {
  transform: scale(1.1);
}

#wrapper #content #event {
  background: #eed6da;
  background: linear-gradient(0deg, #eed6da 0%, #f9f9f9 83%);
  height: 500px;
}

#wrapper #content #event .inner-event {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}

#wrapper #content #event .inner-event #left-inner-event {
  height: 500px;
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Cinzel', serif;
}

#wrapper #content #event .inner-event #left-inner-event span {
  color: #e481b7;
}

#wrapper #content #event .inner-event #left-inner-event button {
  padding: 7px;
  width: 150px;
  background-color: #ffffff;
  border: 1px solid black;
  -webkit-box-shadow: 0 3px 2px black;
  -moz-box-shadow: 0 3px 2px black;
  box-shadow: 0 3px 2px black;
  transition: 1s ease;
}

#wrapper #content #event .inner-event #left-inner-event button:hover {
  background: #434343;
  color: white;
}

#wrapper #content #event .inner-event #right-inner-event .pic img {
  width: 650px;
  height: 450px;
}

#wrapper #content #our-product {
  padding-bottom: 30px;
  background: #e6e6e6;
  background: linear-gradient(90deg, #e6e6e6 27%, #eedbec 59%, #f9ecf3 100%);
}

#wrapper #content #our-product #inner-our-product {
  padding: 30px 0px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}

#wrapper #content #our-product #inner-our-product .product {
  width: 280px;
  height: 450px;
  text-align: center;
}

#wrapper #content #our-product #inner-our-product .product .pic {
  position: relative;
  overflow: hidden;
}

#wrapper #content #our-product #inner-our-product .product .pic img {
  width: 280px;
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  transition: all .2s ease-in-out;
}

#wrapper #content #our-product #inner-our-product .product .inner-pic {
  height: 280px;
  width: 280px;
  position: absolute;
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px 10px 10px 0px;
  transition: all 1s ease;
}

#wrapper #content #our-product #inner-our-product .product .inner-pic a {
  display: block;
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  color: #e4bdd2;
}

#wrapper #content #our-product #inner-our-product .product .inner-pic a i {
  font-size: 20px;
}

#wrapper #content #our-product #inner-our-product .product .inner-pic #cart {
  font-size: 18px;
}

#wrapper #content #our-product #inner-our-product .product .views ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 10px;
}

#wrapper #content #our-product #inner-our-product .product .views ul li {
  font-size: 15px;
  color: #eeadcb;
  font-weight: bold;
}

#wrapper #content #our-product #inner-our-product .product .name {
  font-size: 17px;
}

#wrapper #content #our-product #inner-our-product .product .price {
  font-size: 25px;
  letter-spacing: 2px;
  color: #d88cb6;
}

#wrapper #content #our-product #inner-our-product .product:hover .inner-pic {
  display: flex;
  transition-duration: 1.5s ease;
}

#wrapper #content #our-product #inner-our-product .product:hover .pic img {
  transform: scale(1.1);
}

#wrapper #content #gallery {
  background: #ecdfea;
  background: linear-gradient(90deg, #ecdfea 27%, #f4def0 59%, #f9ecf3 100%);
  /* The colour of the indicators */
}

#wrapper #content #gallery .blog .carousel-indicators {
  left: 0;
  top: auto;
  bottom: -40px;
}

#wrapper #content #gallery .container {
  padding: 30px;
}

#wrapper #content #gallery .blog .carousel-indicators li {
  background: #a3a3a3;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

#wrapper #content #gallery .blog .carousel-indicators .active {
  background: #707070;
}

#wrapper #content #gallery .col-md-3 img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

#wrapper #content #gallery #bottom-gallery {
  text-align: center;
  padding: 30px 0px;
}

#wrapper #content #gallery #bottom-gallery h1 {
  font-size: 50px;
  width: 780px;
  margin: 0 auto;
  color: #434343;
  font-family: 'Great Vibes', cursive;
}

#wrapper #content #gallery #bottom-gallery p {
  font-weight: bold;
  color: #434343;
}

#wrapper #content #gallery #bottom-gallery p span {
  color: #df9a59;
}

#wrapper #content #gallery #bottom-gallery p a {
  color: #434343;
  text-decoration: underline;
}

#wrapper #content #gallery #bottom-gallery #inner-bottom-gallery {
  display: flex;
  justify-content: space-around;
}

#wrapper #content #gallery #bottom-gallery #inner-bottom-gallery .pic {
  overflow: hidden;
}

#wrapper #content #gallery #bottom-gallery #inner-bottom-gallery .pic img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  transition: all .2s ease-in-out;
}

#wrapper #content #gallery #bottom-gallery #inner-bottom-gallery .pic img:hover {
  transform: scale(1.1);
}

#wrapper #content #footer {
  background-color: #303030;
}

#wrapper #content #footer #container #row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 20px;
  padding: 50px 0px;
}

@media screen and (max-width: 900px) {
  #wrapper #content #footer #container #row {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 900px) {
  #wrapper #content #footer #container #row .column {
    margin-top: 15px;
  }
}

#wrapper #content #footer #container #row .column h3 {
  color: white;
  font-size: 17px;
}

#wrapper #content #footer #container #row .column p {
  margin-top: 30px;
  font-size: 14px;
  color: gainsboro;
}

#wrapper #content #footer #container #row .column ul {
  margin-top: 30px;
  list-style: none;
}

#wrapper #content #footer #container #row .column ul li {
  margin-top: 10px;
}

#wrapper #content #footer #container #row .column ul li a {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: gainsboro;
  text-decoration: none;
  font-size: 14px;
}

#wrapper #content #footer #container #row .column ul li a:hover {
  color: rgba(59, 59, 212, 0.637);
}

#wrapper #content #footer #container #row .column-get #icon ul {
  display: flex;
}

#wrapper #content #footer #container #row .column-get #icon ul li {
  margin-right: 15px;
}

#wrapper #content #footer #container #row .column-get #icon ul li a i {
  font-size: 17px;
}

#wrapper #content #footer #container #row .column-get #icon ul li a:hover {
  color: #dbb8cc;
}

#wrapper #content #footer #container #row .column-news {
  display: flex;
  flex-direction: column;
}

#wrapper #content #footer #container #row .column-news input {
  margin-top: 30px;
  height: 25px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #c0c0c0;
}

#wrapper #content #footer #container #row .column-news button {
  margin-top: 25px;
  width: 180px;
  height: 40px;
  background-color: #dbb8cc;
  border: 1px solid #dbb8cc;
  border-radius: 20px;
  color: white;
  font-weight: 800;
}

#wrapper #content #footer #container #row .column-news button:hover {
  background-color: white;
  color: #d49dbd;
  transition: all 0.4s;
}
