* {
  padding: 0;
  margin: 0;
}

* #wrapper #header #inner-header {
  padding: 0px 50px;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* #wrapper #header #inner-header #logo {
  font-size: 20px;
}

* #wrapper #header #inner-header #nav ul {
  display: flex;
  list-style: none;
}

* #wrapper #header #inner-header #nav ul li {
  padding: 50px 7px;
}

* #wrapper #header #inner-header #nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}

* #wrapper #header #inner-header #nav ul li a i {
  color: #e41d1d;
}

* #wrapper #slider {
  background: #242424;
  position: relative;
}

* #wrapper #slider img {
  height: 1000px;
  width: 100%;
  object-fit: cover;
}

* #wrapper #slider #slider-description {
  position: absolute;
  height: 1000px;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}

* #wrapper #slider #slider-description h1 {
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* #wrapper #slider #slider-description h2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

* #wrapper #slider #slider-description #line {
  margin-top: 10px;
  height: 5px;
  width: 200px;
  background-color: #e41d1d;
}

* #wrapper #content {
  font-family: Arial, Helvetica, sans-serif;
}

* #wrapper #content .icon {
  padding: 30px 0;
}

* #wrapper #content .icon ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

* #wrapper #content .icon ul li {
  padding: 5px 8px;
  border: 1px solid #cfcccc;
  margin: 0 5px;
}

* #wrapper #content .icon ul li a {
  color: #cfcccc;
  font-size: 20px;
}

* #wrapper #content .title {
  display: flex;
  justify-content: center;
}

* #wrapper #content .title h1 {
  color: white;
  position: relative;
  font-size: 40px;
  font-family: sans-serif;
}

* #wrapper #content .title .line {
  position: absolute;
  height: 15px;
  width: 350px;
  background-color: #e43737;
  align-self: flex-end;
}

* #wrapper #content #la-content {
  padding: 80px 0;
  color: white;
  background: #242424;
  text-align: center;
}

* #wrapper #content #la-content #des {
  padding-top: 50px;
  line-height: 30px;
}

* #wrapper #content #la-content #playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* #wrapper #content #la-content #playlist .block-list .inner-block-list {
  width: 500px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.05px solid #b8b7b7;
}

* #wrapper #content #la-content #playlist .block-list .inner-block-list #top-block {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

* #wrapper #content #la-content #playlist .block-list .inner-block-list #top-block .song {
  display: flex;
}

* #wrapper #content #la-content #playlist .block-list .inner-block-list #top-block .song h4 {
  color: lightgray;
}

* #wrapper #content #la-content #playlist .block-list .inner-block-list #top-block .song i {
  font-size: 15px;
  padding-right: 15px;
}

* #wrapper #content #la-content #playlist .block-list .inner-block-list #top-block a {
  display: block;
  padding: 7px 10px;
  font-size: 10px;
  background: #242424;
  color: lightgray;
  border: 0.1px solid #cfcccc;
}

* #wrapper #content #la-content #playlist .block-list .inner-block-list #author {
  display: flex;
  width: 500px;
  margin-left: 60px;
}

* #wrapper #content #la-content #playlist .block-list:first-child {
  width: 540px;
  height: 150px;
  background-image: url("../img/playlist/img1.jpg");
}

* #wrapper #content #adv-content #inner-adv-content {
  padding: 150px 0px;
  background-image: url("../img/adv/img3.png");
  background-size: cover;
  color: white;
  display: flex;
  justify-content: space-around;
}

* #wrapper #content #adv-content #inner-adv-content .left-block {
  width: 30%;
}

* #wrapper #content #adv-content #inner-adv-content .left-block h1 {
  font-size: 40px;
}

* #wrapper #content #adv-content #inner-adv-content .left-block p {
  padding-top: 30px;
}

* #wrapper #content #adv-content #inner-adv-content .right-block {
  width: 50%;
}

* #wrapper #content #adv-content #inner-adv-content .right-block .inner-right-block {
  display: flex;
  flex-direction: column;
}

* #wrapper #content #adv-content #inner-adv-content .right-block .inner-right-block #top-right-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

* #wrapper #content #adv-content #inner-adv-content .right-block .inner-right-block #top-right-block .sub-top-right-block h4 {
  line-height: 30px;
}

* #wrapper #content #adv-content #inner-adv-content .right-block .inner-right-block #top-right-block .sub-top-right-block a {
  padding: 10px;
  color: #c7c4c4;
  text-decoration: none;
  border: 2px solid #e43737;
  border-right: none;
}

* #wrapper #content #adv-content #inner-adv-content .right-block .inner-right-block #bottom-right-block {
  display: flex;
  align-items: center;
}

* #wrapper #content #adv-content #inner-adv-content .right-block .inner-right-block #bottom-right-block h3 {
  color: #e43737;
}

* #wrapper #content #adv-content #inner-adv-content .right-block .inner-right-block #bottom-right-block .icon {
  padding: 5px;
  margin-left: 0;
}

* #wrapper #content #adv-content #inner-adv-content .right-block .inner-right-block #bottom-right-block .icon ul {
  justify-content: flex-start;
}

* #wrapper #content #disco-content #inner-disco-content {
  padding: 100px 0 200px 0;
  background-image: url("../img/adv/img3.png");
  background-size: cover;
  color: white;
}

* #wrapper #content #disco-content #inner-disco-content #list-album #inner-list-album {
  padding: 50px 0;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-around;
}

* #wrapper #content #disco-content #inner-disco-content #list-album #inner-list-album .block-album {
  display: flex;
  flex-direction: column;
}

* #wrapper #content #disco-content #inner-disco-content #list-album #inner-list-album .block-album h4 {
  padding: 10px 0;
}

* #wrapper #content #disco-content #inner-disco-content #list-album #inner-list-album .block-album .pic-album {
  padding: 20px 0;
}

* #wrapper #content #disco-content #inner-disco-content #list-album #inner-list-album .block-album .pic-album img {
  width: 235px;
  height: 265px;
}

* #wrapper #content #disco-content #inner-disco-content #des {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

* #wrapper #content #disco-content #inner-disco-content #des #inner-des {
  width: 70%;
  padding: 20px 0px;
  text-align: center;
  border: 7px solid #e43737;
  border-right: 0;
  border-left: 0;
}

* #wrapper #content #disco-content #inner-disco-content #des #inner-des h2 {
  padding: 10px 0;
}

* #wrapper #content #disco-content #inner-disco-content #des #inner-des h3 {
  font-size: 15px;
  color: #c2c1c1;
}

* #wrapper #content #disco-content #inner-disco-content #time {
  color: #b8b8b8;
  text-align: center;
}

* #wrapper #content #disco-content #inner-disco-content #time h3 {
  font-size: 15px;
  line-height: 30px;
}

* #wrapper #content #time-content {
  background-color: #242424;
  color: white;
}

* #wrapper #content #time-content #inner-time-content {
  padding: 30px 0 200px 0;
  text-align: center;
}

* #wrapper #content #time-content #inner-time-content h1 {
  font-size: 40px;
}

* #wrapper #content #time-content #inner-time-content h4 {
  padding: 50px 0;
  color: #c0bfbf;
}

* #wrapper #content #time-content #inner-time-content #count {
  font-size: 60px;
  color: #c0bfbf;
}
